        <div class="second-line">
          <p>7つの習慣という書籍に基づいて出題されています。</p>
          <p>7つの習慣がわからない方は、外部サイトになりますが<a href="https://type.jp/tensyoku-knowhow/skill-up/book-summary/vol1/" target="_blank">こちらへ</a></p>
          <p>「Yes」と答えてしまった問題を確認し、その習慣を参考にしてみてください。</p>
          <p>各習慣の中で出題された問題を2つとも「Yes」の場合は重点的に意識してみましょう。</p>
        </div>
          <ul class="ul-seven">
            <li><span>第1の習慣</span>&emsp;主体性を発揮する</li>
              <ul>
                <li>常識や「空気を読むこと」を意識しすぎた行動が多い</li>
                <li> 思い通りにいかなくてイライラすることが多い</li>
              </ul>
            <li><span>第2の習慣</span>&emsp;目的を持って始める</li>
              <ul>
                <li>仕事やトレーニング、家事や買い物など、段取りを考えずに始めることが多い</li>
                <li>今の自分の仕事や状況に、やりがいや目的を見出せていない</li>
              </ul>
            <li><span>第3の習慣</span>&emsp;重要事項を優先する</li>
              <ul>
                <li>時間がなくて、やりたいことが後回しになっていると感じる</li>
                <li>家にいるときは、何となくテレビをつけている</li>
              </ul>
            <li><span>第4の習慣</span>&emsp;Win-Winを考える</li>
              <ul>
                <li>結局、人生は競争で、強者が勝つのが真理だと思う</li>
                <li>成功のためには、誰かを蹴落とすことも仕方がないと思う</li>
              </ul>
            <li><span>第5の習慣</span>&emsp;理解してから理解される</li>
              <ul>
                <li>人の話を途中で遮って意見を言ってしまうことが多い</li>
                <li>会話が「でも」「だけど」で始まっていることが多い</li>
              </ul>
            <li><span>第6の習慣</span>&emsp;相乗効果を発揮する</li>
              <ul>
                <li>交渉とは、妥協点を探し、相手の譲歩を引き出す作業のことだと思う</li>
                <li>考え方やタイプが似ている人といたほうが楽しい</li>
              </ul>
            <li><span>第7の習慣</span>&emsp;刃を研ぐ</li>
              <ul>
                <li>まんがは読むが、活字の本は1年で5冊も読まない</li>
                <li>定期的な運動は特にしていない</li>
              </ul>
          </ul>
          <a href="/sevens" class="seven-btn">
            トップページへ ＞
          </a>
          <div class="references">
            <p>参考・引用文献</p>
            <ul>
              <li>&emsp;『7つの習慣』（スティーブン・R・コヴィー&emsp;ジェームス・スキナー&emsp;川西茂/訳&emsp;キング・ベアー出版）</li>
              <li>&emsp;『まんがと図解でわかる7つの習慣』（スティーブン・R・コヴィー監修&emsp;宝島社）</li>
            </ul>
          </div>