<%= render 'header' %>


    <div class="commentary-contents">
      <div class="commentary-title">
        <h1>マインドとお金は雪だるま式に<span>大きく</span>なる</h1>
      </div>
      <div class="commentary-text">
        <p class="first-line">これをイメージし実行すると人生より豊かになります。</p>
        <br>
        <br>
        <br>
        
        <p>※こちらは解説になるので、7つの習慣の診断、複利計算機を試したあとに読むことをオススメします。</p>
        <a href="/sevens" class="commentary-btn">
          トップページへ ＞
        </a>
        <br>
        <br>
        <p>今回トップページに</p>
        <p>マインドのベースとなる7つの習慣と</p>
        <p>複利計算機があります。</p>
        <br>
        <p>人はお金がないと不安になります。</p>
        <p>ですが、不安というものはそもそも無いものに対して自ら勝手に作っているだけです。</p>
        <p>または周りが言っているから不安と認識しているだけです。</p>
        <br>
        <p>マインドがなければ、たった一度きりの人生を幸せやお金を求めて終わってしまいます。</p>
        <p>極端ではありますが、死ぬ直前に</p>
        <p>もっと幸せになりたかった。もっとお金が欲しかったと考えて死ぬのは悲しすぎます。</p>
        <p>実際には働きすぎたと後悔する人が多いようですが…っと脱線しました。</p>
        <br>
        <p>マインドやお金の認識を改めない限り</p>
        <p>幸せになっているつもりが、不幸になっていたり。</p>
        <p>貯金でお金の不安を解消しているつもりが、実は解消できなかったりならないよう</p>
        <p>今回ここで何らかのきっかけを掴んでもらえたら幸いです。</p>
        <br>
        <p>まずはじめに、お金による幸福度。</p>
        <p>年収800万あたりまで比例するようです。</p>
        <p>なので、そこまで稼ぐメリットはあるかもしれません。</p>
        <p>しかし、年収400万から800万と2倍になっても</p>
        <p>幸福度は10％程度しか上昇しないことを認識しといてください。</p>
        <p>ですから、自分を犠牲にし、残業や休日出勤をしてもいいことはありません。</p>
        <p>自分が幸せになって、その余裕から周りを幸せにしましょう。</p>
        <br>
        <p>なら老後資金はどうするか。</p>
        <p>貯金ではなく投資をする。</p>
        <p>投機ではないです。投資です。</p>
        <p>投資に抵抗があるかもしれません。</p>
        <p>それは日本の義務教育にないからです。</p>
        <p>その結果がこの図で表れています。</p>
        <div class="money">
            <img src="/assets/money.png" width="690" height="448" alt="日銀調査結果">
        </div>
        <p>2020年8月の日銀の調査結果でも日本という国は現金、預金が世界と比べても大好きなんです。</p>
        <p>それでも老後が不安とか何か違和感ありませんか。</p>
        <p></p>
        <p>老後資金を使うのは何十年後ですか。</p>
        <p>なのでイメージしやすくなるよう複利計算機を実装しました。</p>
        <br>
        <p>そしてマインドのベースとなる7つの習慣。</p>
        <p>いろいろ自己啓発本を読んでいますが、</p>
        <p>7つの習慣が引用されていたり、7つの習慣と似た内容の本が多いです。</p>
        <p>なので今回これをベースに現在の自分が診断できるものをトップページに実装しました。</p>
        <p>ちなみに人生の成功確率は最大で90％です。</p>
        <p>また下記には、</p>
        <p>私の経験を踏まえて7つの習慣の要点を簡潔にまとめてますので、</p>
        <p>興味があれば一読と、ぜひ「7つの習慣」を手にして読んでもらえたらと思います。</p>
        <br>
        <p>さて長くなりましたが、本題です。</p>
        <br>
        <p>なぜマインドとお金は雪だるま式なのか。</p>
        <br>
        <p>複利計算で気づいてほしいのが、</p>
        <p>これから積み立て、もしくは投資を始めるということです。</p>
        <p>始めの元金が0円でも積み立てして20年30年と経てば金額が大きくなり、</p>
        <p>そこに雪だるま式の複利が合わさればとても大きくなります。</p>
        <br>
        <p>マインドも同様です。</p>
        <p>今の自分がダメでも若いうちにマインドをしっかりして</p>
        <p>行動していけば10年20年先の未来は広がり、</p>
        <p>夢を多く持ったり叶えることができます。</p>
        <p>なのでマインドも雪だるま式です。</p>
        <br>
        <p>若さという武器を持っているのに、行動しない理由はありますか。</p>
        <ul class="ul-commentary">
          <li><span>成功の定義</span></li>
            <ul class="ul-commentary-ul">
              <li>ここでいう成功とはお金や地位という表面的な成功ではなく、</li>
              <li> 真の成功といわれる優れた人格を持つことです。</li>
              <li> 表面的な成功は短期的に成功が終わり、</li>
              <li> 真の成功は人格が認められ長期的に成功が得られます。</li>
            </ul>
          <li><span>価値観や物の見方を変える</span></li>
            <ul class="ul-commentary-ul">
              <li>まずは自分の見方は正しいのか、自分に問題はないかと常に問いましょう。</li>
              <li>無意識に自分というレンズを通してものを見てしまいます。</li>
              <li>環境に不満を持ったら、環境を変えることはできますが、まずは自分を変えましょう。</li>
              <li>例えば自分が変わらない限り職場を変えても不満を抱えてしまいます。</li>
              <li>見方をかえて物事を俯瞰的に見れるようになると</li>
              <li>イライラすることはほとんど無くなっていきます。</li>
            </ul>
          <li ><span>主体性を発揮し、目的を持って始める</span></li>
            <ul class="ul-commentary-ul">
              <li>自分の人生なので自分で選択するようにしましょう。</li>
              <li>例えば、環境が悪いところにいることを結果的に自分が選択しているので、自分で変えましょう。</li>
              <li>他にも、人の言いなりになるのではなく、</li>
              <li>人からの助言を自分はどう受け取り行動するか選択しましょう。</li>
              <li>人生の明確な目的があると関係のない他人や物事でブレることがなくなり、</li>
              <li>自分らしい充実した人生がおくれます。</li>
            </ul>
          <li><span>重要事項を優先する</span></li>
            <ul class="ul-commentary-ul">
              <li>人生の目的を持ったところでどう行動していいのか迷ったりします。</li>
              <li>そこで細分化し週単位の計画を立ててみてはどうですか。</li>
              <li>疎かになりがちな、食事、睡眠、運動、これらを含めるだけでも長期的に大きく変わります。</li>
              <li>また、情報が多い現在、多くの選択肢があり悩みがちですが、</li>
              <li>最優先事項を決められないのは選択していないのと同じになります。</li>
            </ul>
          <li><span>Win-Winを考え、相手を理解してから理解され、相乗効果を発揮する</span></li>
            <ul class="ul-commentary-ul">
              <li>個人一人の力は社会全体からしたらとても小さいものです。</li>
              <li>まずは自分と相手、双方が納得できるか、利益を持たせられるか考えましょう。</li>
              <li>そこで自分は相手に何を与えられるかを基準にしましょう。</li>
              <li>ですが、自己犠牲は禁物です。</li>
              <li>長期的に自分の身を滅ぼすので豊かになるため常にWin-Winを意識しましょう。</li>
              <li>相手を理解して自分のレンズを一旦外しましょう。</li>
              <li>また違う人と関わることで新しい発見やアイデアがでてきます。</li>
            </ul>
          <li><span>刃を研ぐ</span></li>
            <ul class="ul-commentary-ul">
              <li>自己投資をしましょう。</li>
              <li>簡単なことは本を読み始めることです。</li>
              <li>与えられた教育よりも、自ら学びたいという意思は自分を大きく成長させます。</li>
              <li>欠点をなくすのも、長所を伸ばすのもいいです。</li>
              <li>そこは自分と向き合って自分で選択しましょう。</li>
              <li>また新しいことにチャレンジすることは大事ですが、</li>
              <li>悪い習慣を断つことでも人生は好転します。</li>
            </ul>
        </ul>
        <a href="/sevens" class="commentary-btn">
          トップページへ ＞
        </a>
      </div>
    </div>










