<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Quiz</title>
</head>
<body>
<h1>7つの習慣</h1>
<a href="/sevens/judgment">診断する</a>

<h1>人類最大の発見</h1>
<a href="/sevens/calc">発見しにいく</a>

</body>
</html>





<%# 
<head>
<noscript>
<meta http-equiv="refresh"
content="5; URL=#">
</noscript>
<title></title>
</head>
<body>
<p><span id="count">5</span>秒後に移動</p>
<script>
var count=document.getElementById("count");
setInterval(function(){count.innerHTML--;},1000);
setTimeout(function(){location.href="#";},5000);
</script>
</body> %>