<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Quiz</title>
</head>
<body>
  <section class="container">
    <p id="question"></p>
    <ul id="choices"></ul>
    <div id="btn" class="disabled">Next</div>

    <!-- 集計画面 -->
    <section id="result" class="hidden">
      <p></p> <!-- ここにスコア集計を持ってきてる -->
      <a href="/sevens">トップページに戻る</a>
    </section>
  </section>

</body>
</html>