<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
</head>
<body>
    <%= render 'header' %>
  <section class="container">
    <p id="question"></p>
    <ul id="choices"></ul>
    <div id="btn" class="disabled">Next</div>
    <p class="remaining">残り<span id="question_count">14</span>問</p>

    <!-- 集計画面 -->
    <section id="result" class="hidden">
      <p></p>
      <a href="" id="submit">結果を見る</a>
    </section>
  </section>

</body>
</html>