    <%= render 'header' %>

    <div class="result-contents">
      <div class="result-title">
        <h1>人生の成功確率は<span>90%</span></h1>
      </div>
      <div class="result-text">
      <p class="first-line">「7つの習慣」が身についています。さらに自分の人生を力強く切り開いていきましょう。</p>
        <%= render 'result' %>
      </div>
    </div>