    <%= render 'header' %>

    <div class="result-contents">
      <div class="result-title">
        <h1>人生の成功確率は<span>30%</span></h1>
      </div>
      <div class="result-text">
      <p class="first-line">悪いことは人のせいにすることはありませんか。態度をあらためるだけでも成長できます。</p>
        <%= render 'result' %>
      </div>
    </div>