body {
  background-color: #FFFFDD;
  font-size: 14px;
  font-family: verdana, sans-serif;
}

.container {
  width: 490px;
  margin: 100px auto;
  background-color: #ffff;
  border-radius: 4px; /* 枠の角をとる丸くなる*/
  padding: 16px;
  position: relative; /*集計結果の表示領域を絶対配置*/
}

#question {
  margin-bottom: 16px;
  font-weight: bold; /*文字太め*/
}

#choices {
  list-style: none;
  padding: 0;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

#choices > li {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 105px;
  cursor: pointer; /*カーソルプロパティをポインターに*/
}

#choices > li:hover {
  background-color:  #f8f8f8;
}

#choices > li.yes {
  background: #d4edda;
  border-color: #c3e6cb;
  color: #007700;
  font-weight: bold;
}


#choices > li.no {
  background: #f8d8da;
  border-color: #f5c6cb;
  color: #721c24;
  font-weight: bold;
}


#btn, #result > a { /*リザルト直下のaにもこのスタイルを設定指示*/
  background: #007700;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 0 #004200; /*下方向に 4px 、ぼかしはなしで色は濃い青の影*/
}

#btn.disabled { /*#btn に対して、 disabled クラスがついたらグレー*/
  background: #ccc;
  box-shadow: 0 4px 0 #bbb;
  opacity: 0.7;

}

#result {
  position: absolute;
  width: 300px;
  background: #fff;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 50px; /*ここから下は枠を中央揃えするためのもの*/
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4px; /*文字を中央揃え*/
  text-align: center;
  transition: 0.4s; /*リザルト画面アニメーション*/
}

#result.hidden { /*リザルト画面を隠す*/
  transform: translateY(-500px);
}

#result > p {
  font-size: 24px;
  padding: 10px;
}

#result > a { /*btnで変更されたものを変更*/
  display: block;
  text-decoration: none;
}

.result-contents {
  margin-top: 100px;
  margin-left: 60px;
  /* background-color: white; */
  line-height: 1.6;
}

.result-title {
  font-size: 40px;
  margin-bottom: 0;
  font-weight: bold;
  /* background-color: violet; */
}

.result-title span {
  font-size: 45px;
  margin-bottom: 0;
  font-weight: bold;
  /* background-color: violet; */
}

.result-text {
  /* background-color: tomato; */
  height: auto;
}

.first-line {
  font-size: 20px;
  margin-top: 10px;
}

.second-line {
  /* background-color: yellow; */
  margin-top: 20px;
}

.result-text a {
  font-weight: bold;
}

.ul-seven > li {
  margin-top: 20px;
}

.ul-seven > li {
  font-weight: bold;
  /* background-color: teal; */
}

.ul-seven ul {
  /* background-color: white; */
  margin-left: 15px;
}

.seven-btn {
  margin-left: 500px;
  /* background-color: yellow; */
}

.references p {
  /* background-color: turquoise; */
  margin-top: 50px;
  
}

.references {
  padding-bottom: 50px;
  /* background-color: wheat; */

}