.form {
  padding-top: 100px;
  padding-left: 60px;
}

.new-title {
  font-size: 40px;
  padding-left: 7px;
  font-weight: bold;
}

.field {
  margin: 10px;
}

#principal {
  width: 75px;
  text-align: right;
}

#deposit {
  width: 75px;
  text-align: right;
}


input:focus::placeholder {
	color: transparent;
}


.new-ul { margin-left:25px; }
.new-ul li { display:block; position:relative; }
.new-ul li:before { content:'※'; position:absolute; left:-15px; /* インデントさせるため「※」だけを左に */ }

.new-link {
  margin-top: 50px;
  padding-left: 10px;
  padding-bottom: 50px;
}